html, 
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5% */
}

.header {
    background-color: #093A3E;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 3vw;
    background-color: #3AAFB9;
    font-family: 'Frank Ruhl Libre', serif;
font-family: 'Manrope', sans-serif;

}

.parent {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 80%;
    height: 4rem;
    border: 5px solid #16697A;
}

.about  {
    height: 100vh;
    background-color: #3AAFB9;
}
.about-row {
    justify-content: space-between;
    background-color: #B1E9E8;
    height: 100%;
    width: 85vw;
    margin: 0 auto;
    display: flex;
}
.about-col {
    background-color: #64E9EE;
    height: 90%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.about-img {
    height: 15%;
    box-shadow: 10px 10px 10px;

}
.about-text {
    font-size: 3rem;
    text-align: center;
    padding: 2.3rem;
}
.about-funnydogs {
    background-image: url(../img/buffdog.jpg);
    height: 30%;
    width: 80%;
    background-size: cover;
    background-position: center;
    border: 5px solid #16697A;
    box-shadow: 10px 10px 20px;
}


.child  {
    width: 28%;
}

.gallery-parent {
    margin: 0 auto;
    height: 45rem;
    width: 40rem;
}
.demo-photo {
    height: 15rem;
}
.form:before {
    content: "\1F436";
    font-size: 4rem;
}
.button {
    font-size: 3rem;
    transition: all 0.3s;
}
.button:hover {
    transform: scale(1.2)
}