html, 
body,
* {
box-sizing: border-box;
    padding: 0;
    font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5% */
}
body {
    background-color: #B1E9E8;
}
.header {
    background-color: #093A3E;
    color: grey;
    font-size: 50px;
    text-align: center;
    border: 5px solid #124559;
    border-radius: 3px;
    margin: 3vw;
    background-color: #3AAFB9;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Manrope', sans-serif;

}

.parent {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 100%;
    height: 10rem;
    border: 5px solid #16697A;
}

.about  {
    background-color: #3AAFB9;
}
.about-row {
    justify-content: space-between;
    background-color: #B1E9E8;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.about-col {
    background-color: #64E9EE;
    height: 90%;
    width:30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-img {
    height: 15%;
    box-shadow: 10px 10px 10px;

}
.about-text {
    font-size: 3rem;
    text-align: center;
    padding: 2.3rem;
}
.about-funnydogs {
    background-image: url(../img/buffdog.jpg);
    background-size: cover;
    background-position: center;
    border: 10px solid #16697A;
    border-radius: 7px;
    box-shadow: 10px 10px 20px;
    margin: 50px 0;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    width: 27%;
    flex-direction: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: 0.75s;
}

.about-funnydogs:hover {
    rotate: 360deg;
}

.child  {
    width: 28%;
}
.gallery {
    position: relative;
    margin-top: 10px;
}

.gallery-parent {
    margin: auto;
    height: 45rem;
    width: 40rem;
    text-align: center;
    flex-wrap: wrap;    
    justify-items: center;
}
.demo-photo {
    margin: 0;
    height: 20rem;
    width: 12rem;
    transition: all 0.3s ease-in ;
    outline-offset: 1rem;
}
.demo-photo:hover {
    transform: scale(1.05);
    outline: 1rem solid#2F4858;
    border: none;
    background: #DBE9EE;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
.form {
    display: flex;
    justify-content: center;
}
.button {
    font-size: 3rem;
    transition: all 0.3s;
    background-color: aliceblue;
    margin: 0;
}
.button:hover {
    transform: scale(1.2)
}

.skew {
    margin: 0;
    font-size: 6rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.animation {
    height: 10rem;
    width: 10rem;
    position: relative;
    animation: test 5s infinite
}

@media (orientation: landscape) {
    .header {
        color: black;
    }
}
@media (orientation: portrait) {
    .about-funnydogs {
        border-color: #20384c;
    }
}
@keyframes test{
    0%{
        left: 10%;
        bottom: 0%;
    }
    25%{
        left: 25%;
        bottom: 0%;
    }
    50%{
        left: 50%;
        bottom: 0%;
    }
    75%{
        left: 75%;
        bottom: 0%;
    }
    100%{
        left:  85%;
        bottom: 0%;
    }
}